
  <%- include('head')%>
  
  <div id="container" class="container">
    <%if(success){%>
      <div class="alert alert-success">
        <%=success%>
      </div>
    <%}%>
    <%if(error){%>
      <div class="alert alert-danger">
        <%=error%>
      </div>
    <%}%>
    <div class="jumbotron">
      <h1>欢迎来到 ChuFan's Blog</h1>
      <p>ChuFan's Blog 是一个基于Nodejs的微博系统</p>
      <p>
        <a class="btn btn-primary btn-default" href="/login">登录</a>
        <a class="btn btn-default" href="/reg">立即注册</a>
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h2>Wendy Say:</h2>
        <p>东方破早梅,向暖一枝开,冰雪无人见,春从天上来</p>
      </div> 
      <div class="col-lg-4">
        <h2>Tony 说:</h2>
        <p>一树梨花压海棠,千树万树梨花开,无言结局,独上西楼,春风不解情,羞人坎坷无语,近期一摊,水天一色,空悲切.夜来沈醉卸妆迟，梅萼插残枝。酒醒熏破春睡，梦断不成归。人悄悄，月依依，翠帘垂。更挪残蕊，更拈馀香，更得些时。</p>
      </div> 
      <div class="col-lg-4">
        <h2>如来佛祖云:</h2>
        <p>
          释迦牟尼（梵文：शाक्यमुनि、 Śākyamuni，意为“释迦族之圣者”），原名悉达多·乔达摩（巴利文：Siddhāttha Gotama；梵文：सिद्धार्थ गौतम, Siddhārtha Gautama），古印度著名思想家，佛教创始人，出生于今尼泊尔南部。被后世尊称为佛陀（Buddha、意为“觉悟者”）、世尊等；汉地尊称他为佛祖，即“佛教祖师”。被世人尊为神明。释迦牟尼以本誓愿于娑婆世界 五浊恶世示现成佛(详见八相成道)，是佛教开启者。
          释迦牟尼（公元前565年～公元前486年）大约与我国孔子同时代。他是古印度北部迦毗罗卫国（今尼泊尔境内）的王子，属刹帝利种姓。 据佛经记载，释迦牟尼在19岁时，有感于人世生、老、病、死等诸多苦恼，舍弃王族生活，出家修行。35岁时，他在菩提树下大彻大悟，遂开启佛教，随即在印度北部，中部恒河流域一带传教。年80在拘尸那迦城示现涅磐。
        </p>
      </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      用户登录
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">用户登录</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="post" action="/login">
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="username">用户名:</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" id="username" name="username">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="password">口令:</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="password" id="password" name="password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Remember me
                      </label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" type="submit">登录</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('foot')%>
    