<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= title %> - ChuFan Blog </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' /> 
		<style type="text/css">
      body{
        padding-top: 60px;
        padding-bottom: 40px;
        min-height: 2000px;
      }

      #top {
        line-height: 0;
        background: black;
        -webkit-border-radius: 2px;
        position: fixed;
        bottom: 15px;
        right: 15px;
        padding: 8px;
        text-decoration: none;
        color: white;
        opacity: 0.2;
        -webkit-transition: opacity 300ms;
      }

      #top:hover {
        opacity: 1;
      }
    </style>
  </head>
  <body>
   
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ChuFan</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">首页</a></li>
          <%if(!user){%>
            <li><a href="/login">登入</a></li>
            <li><a href="/reg">注册</a></li>
          <%}else{%>
            <li><a href="/logout">登出</a></li>
          <%}%>          
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>              
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>          
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text" onclick="s()">Default</p></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed<span class="sr-only">(current)</span></a></li>
          </ul>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div id="container" class="container">
    <%if(success){%>
      <div class="alert alert-success">
        <%=success%>
      </div>
    <%}%>
    <%if(error){%>
      <div class="alert alert-danger">
        <%=error%>
      </div>
    <%}%>
    <div class="jumbotron">
      <h1>欢迎来到 ChuFan's Blog</h1>
      <p>ChuFan's Blog 是一个基于Nodejs的微博系统</p>
      <p>
        <a class="btn btn-primary btn-default" href="/login">登录</a>
        <a class="btn btn-default" href="/reg">立即注册</a>
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h2>Wendy Say:</h2>
        <p>东方破早梅,向暖一枝开,冰雪无人见,春从天上来</p>
      </div> 
      <div class="col-lg-4">
        <h2>Tony 说:</h2>
        <p>一树梨花压海棠,千树万树梨花开,无言结局,独上西楼,春风不解情,羞人坎坷无语,近期一摊,水天一色,空悲切.夜来沈醉卸妆迟，梅萼插残枝。酒醒熏破春睡，梦断不成归。人悄悄，月依依，翠帘垂。更挪残蕊，更拈馀香，更得些时。</p>
      </div> 
      <div class="col-lg-4">
        <h2>如来佛祖云:</h2>
        <p>
          释迦牟尼（梵文：शाक्यमुनि、 Śākyamuni，意为“释迦族之圣者”），原名悉达多·乔达摩（巴利文：Siddhāttha Gotama；梵文：सिद्धार्थ गौतम, Siddhārtha Gautama），古印度著名思想家，佛教创始人，出生于今尼泊尔南部。被后世尊称为佛陀（Buddha、意为“觉悟者”）、世尊等；汉地尊称他为佛祖，即“佛教祖师”。被世人尊为神明。释迦牟尼以本誓愿于娑婆世界 五浊恶世示现成佛(详见八相成道)，是佛教开启者。
          释迦牟尼（公元前565年～公元前486年）大约与我国孔子同时代。他是古印度北部迦毗罗卫国（今尼泊尔境内）的王子，属刹帝利种姓。 据佛经记载，释迦牟尼在19岁时，有感于人世生、老、病、死等诸多苦恼，舍弃王族生活，出家修行。35岁时，他在菩提树下大彻大悟，遂开启佛教，随即在印度北部，中部恒河流域一带传教。年80在拘尸那迦城示现涅磐。
        </p>
      </div>
    </div>
    <hr/>
    <footer>
      <p><a href="http://v.find73.com" target="_blank">ChuFan Studio</a></p>
    </footer>
  </div>
  <span id="top-link-block" class="hidden">
    <a id="top" href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
      <i class="glyphicon glyphicon-chevron-up"></i>
    </a>
  </span><!-- /top-link-block -->
  </body>     
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script type='text/javascript'>
    $(function(){
    // Only enable if the document has a long scroll bar
    // Note the window height + offset
      if ( ($(window).height() + 100) < $(document).height() ) {
          $('#top-link-block').removeClass('hidden').affix({
              // how far to scroll down before link "slides" into view
              offset: {top:100}
          });
      }
    });
    function s(){        
      alert($(window).height());
      alert($(document).height());
    }
  </script>
</html>
